.container-mode {
  display: flex;
  padding: 1rem 0;
  justify-content: space-around;
  align-items: center;
  color: var(--white-color);
}

.container-icon {
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  background: var(--gray-color);
  border-radius: 10px;
}

.mode-icon {
  font-size: 20px;
}
.container-icon:hover {
  transition: 250ms;
  color: var(--gray-color);
  background: var(--gradient-color);
}

.mode-left ul {
  display: flex;
  list-style: none;
}

.mode-left ul li {
  margin: 0 1rem;
}


.left-source {
  display: flex;
  align-items: center;
}

.source-icon {
  padding-right: 5px;
}