.container-mode {
  display: flex;
  padding: 1rem 0;
  justify-content: space-around;
  align-items: center;
}

.mode-left ul {
  display: flex;
  list-style: none;
}

.mode-left ul li {
  margin: 0 1rem;
}

.left-source {
  display: flex;
  align-items: center;
}

.source-icon {
  padding-right: 5px;
}

.container-icon {
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  border: none;
  background: var(--gray-color);
  border-radius: 10px;
}

.mode-icon {
  color: var(--purple-smoke-color);
  font-size: 20px;
}
