:root {
  --black-color: #0d1117;
  --gray-color: #161b22;
  --purple-color: #acb4fe;
  --purple-smoke-color: #cbbee7;
  --white-smoke-color: #8b949e;
  --white-color: #e5e5e5;

  --gradient-color: linear-gradient(99.51deg, #cbbee7 9.03%, #ffffff 89.53%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white-smoke-colorcolor);
}

a {
  color: var(--purple-color);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--white-smoke-color);
  border-radius: 20px;
}

.purple-text {
  font-weight: 600;
  color: var(--purple-color);
}

.white-text {
  font-weight: 500;
  color: var(--white-color);
}

.gray-text {
  color: var(--white-smoke-color);
}

.container {
  position: relative;
  width: auto;
  max-width: 50rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

@media (max-width: 425px) {
  .container {
    max-width: 100%;
    padding: 5px;
  }
}
